//背景色以及特色字体颜色 color;
@base-color-main:        #f78585;  //主色;
@base-color-red:         #d33632;  //标准红;
@base-color-font:        #f78585;  //字体主色;
@body-bg:     #eee;  //body背景颜色;
@wrap-bg:     #fff;  //版块背景颜色;

//基础字体颜色;
@text-color-999:                #999;
@text-color-777:                #777;
@text-color-555:                #555;
@text-color-444:                #444;

//字体大小;
@font-size-default:   16px;
@font-size-title:     20px;  //字体默认大小;
@font-size-content:   14px;  //中号字体;
@font-size-sm:    12px;  //小号字体;

//间距;
@box-space:      10px;  //模块（卡片）离屏幕左边的间距;