* {
    margin: 0;
    padding: 0;
}
#id {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/*头部*/
header.toolbar {
    height: 60px;
    background-color: #23bab5;
    position: relative;
}
header.toolbar .title {
    color: #fff;
    font-size: 25px;
    padding: 15px 0 0 20px;
}
header.toolbar .logout {
    position: absolute;
    right: 20px;
    top: 20px;
    color: #fff;
}
header.toolbar .logout:hover {
    cursor: pointer;
}

/*左边部分*/
aside.left-nav {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 200px;
    background-color: #232b2d;
    color: #80969c;
}

/*右边内容部分*/
section.wrapper {
    position: absolute;
    right: 0;
    top: 60px;
    left: 200px;
    bottom: 0;
    overflow-y: auto;
}
section.wrapper .content {
    min-height: 800px;
}