body,div,section,canvas,p,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑","Helvetica Neue", Helvetica, Arial, sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-style: normal;
    font-weight: normal;
}
button,input{
    background: #fff;
    color: #656565;
}
a,img,button,input,textarea,span,i,div{
    outline: none;
    -webkit-tap-highlight-color:rgba(255,255,255,0);
    -webkit-appearance: none;
    border: none;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust:none;
}
a{
    text-decoration: none;
}
html{
    height: 100%;
    -webkit-tap-highlight-color: transparent;
}
body{
    -webkit-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    height: 100%;
    color: #656565;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: white;
    overflow: hidden;
    max-width: 640px;
    margin: 0 auto;
    font-size: 16px;
    background: url("../images/index-bg.png") no-repeat;
    background-size: 100% 100%;
}
ul,li,ol{
    list-style-type: none
}

.flex-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.flex-box.center {
    align-items: center;
}
.flex-num1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.models-txe{
    font-size: 12px;
    margin-left: 10px;
    line-height: 1.6;
}
.index-box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 20px;
}
.header{
    padding: 27px 20px;
}

.main-header{
    padding: 27px 20px;
}

.qd-icon {
    text-align: right;
    color: #fff;
}
.qd-icon i{
    font-style: normal;
}
.qd-icon i:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 25px;
    background: url("../images/qudao-icon.png") no-repeat;
    background-size: 100%;
    vertical-align: middle;
    margin-right: 5px;
}

.pic_01 {
    margin: 50px 0;
}

/*输入框*/
.search-warp {
    border: 4px solid rgba(255, 255, 255, 0.4);
    /*margin: 0 10px 0 50px;*/
}

.search-warp .search-text {
    background-color: #fff;
    padding: 10px;
}
.search-warp .search-btn {
    background-color: #fff;
    padding: 10px 0;
}
.search-warp .search-text input{
    width: 100%;
    padding: 7px 0;
}
.search-warp .search-btn button{
    background: url("../images/search-icon.png") no-repeat center;
    background-size: auto 100%;
    border: none;
    padding: 25px 30px 0 30px;
    background-color: #fff;
    border-left: 1px solid #c4c4c4;
}
.footer {
    text-align: center;
    line-height: 30px;
    position: fixed;
    left: 0;
    right: 0;
    bottom:20px;
    color: #fff;
    font-size: 14px;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 46px;
    right: 0;
    overflow-y: auto;
}
.section {
    background-color: #fafafa;
}

/*查询结果*/
.title{
    color: #ffffff;
    text-align: center;
    padding-bottom: 27px;
    padding-top: 27px;
}
.prompt{
    position: relative;
    color: #e30173;
    text-align: center;
    padding: 15px 0;
}
.prompt .p_left{
    position: absolute;
    width: 100%;
    left:0;
    top: 50%;
    border-top: 1px solid #e7e7e7;
    z-index: 5;
}
.prompt .text {
    display: inline-block;
    padding: 0 20px;
    text-align: center;
    background-color: #fafafa;
    margin: 0 auto;
    position: relative;
    z-index: 6;
}
.package{
    background-color: #ffffff;
    padding: 15px 20px;
}
.package div{
    color: #e30173;
    margin-bottom: 10px;
}
.package ul li {
    font-size: 14px;
}
.package ul li:before {
    content: "●";
    font-size: 12px;
    margin-right: 10px;
}

.models {
    background-color: #fff;
    padding: 0 20px 20px 20px;
    margin-top: 20px;
}
.models-title{
    color: #e30173;
    padding: 15px 0;
}
.models-li{
    font-size: 0;
}
.models-li li {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #e0e0e0;
}

.models-li li .product-pic img{
    width: 80px;
    height: 80px;
}
.footer-copy{
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;
    color: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1c93d7;
}
.footer-copy img{
    width: 100%;
}
@media (max-width: 340px) {
    .logo {
        width: 70%;
    }
}