<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>宇师兄博客管理系统</title>
    <link rel="stylesheet" href="/view/css/style.css"/>
</head>
<body>
<div id="container">
    <header class="toolbar">
        <div class="title">宇师兄博客管理系统</div>
        <a class="logout">退出</a>
    </header>
    <aside class="nav-bar">
        <ul class="one-nav">
            <li><a>首页</a></li>
            <li><a>文章管理</a>
                <ul>
                    <li>发布文章</li>
                    <li>文章列表</li>
                </ul>
            </li>
            <li><a>设置</a></li>
        </ul>
    </aside>
    <section class="wrapper">
        <div class="nav-tab">
            <a class="active">首页</a>
            <a>发布文章<i>X</i></a>
        </div>
        <div class="content">
            <div class="page" id="index">
                这里是首页。
            </div>
        </div>
    </section>
</div>
<script type="application/javascript" src="/view/js/jquery.min.js"></script>
</body>
</html>